body {
    background-color: lightgrey;
    font-family: Helvetica, Arial, sans-serif;
    font-size: medium;
    color:black;
}
a {
    color: midnightblue;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}
.main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow: hidden;
}
.logo {
    background-color: midnightblue;
    color: white;
    overflow: hidden;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    height: 100px;
}
.navi {
    background-color: midnightblue;
    color: white;
    overflow: hidden;
    text-align: center;
    font-size: medium;
    margin-left: 1%;
    margin-right: 1%;
}
.content {
    overflow: hidden;
    text-align: justify;
    margin-left: 1%;
    margin-right: 1%;
}
.footer {
    overflow: hidden;
    text-align: center;
    margin: 1%;
    background-color: midnightblue;
    color: white;
    font-size: small;
}